/*=============================================
=            fonts            =
=============================================*/

$main-font: "Open Sans", sans-serif;

/*=============================================
=            colors            =
=============================================*/

$primary: #59c3c3;
$secondary: #231919;
$radius: 2px;
