/*=============================================
=            fonts            =
=============================================*/

$main-font: "Open Sans", sans-serif;
$header-font: "Passion One", cursive;
/*=============================================
=            colors            =
=============================================*/

$primary: #59c3c3;
$secondary: #231919;
$radius: 2px;
$white: #faf9f9;
