@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400;1,600;1,700&display=swap");
@import "vendors/main.scss";
@import "variables";

// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/helpers/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/elements/box.sass";
@import "../node_modules/bulma/sass/elements/icon.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
@import "../node_modules/bulma/sass/grid/_all.sass";
// Required Core Stylesheet
@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";

// Optional Theme Stylesheet
@import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";

/*
  pages

*/
@import "landing";

body {
  font-family: $main-font;
  font-size: 16px;
}
.subtitle {
  font-weight: bold;
  font-size: 2rem;
  color: $secondary;
}

.contact {
  margin: 50px 0;
  &__form_contact {
    max-width: 600px;
    flex: 60%;
    margin: 0 30px;
    margin: 50px 0;
    display: block;
    padding: 40px !important;
    // spacing in checkboxes
    .field {
      .checkbox {
        margin: 4px 0;
      }
    }
  }
  .container {
    display: flex;
    flex-direction: row;
  }
  &__extract {
    flex: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__content {
      max-width: 450px;
      text-align: center;
      > * {
        margin: 10px 0;
      }
      img {
        width: 150px;
      }
    }
  }
}
